.container {
  width: 100%;
  height: 100%;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-screen {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caller-name {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 8px;
  text-align: center;
}

.call-timer {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.call-declined, .call-ended {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}


.button-container {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20%;
  align-items: center;
}

.accept-btn, .decline-btn, .mic-btn, .close-btn, .speaker-btn {
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.button-icon {
  width: 80px;
  height: 80px;
}

.caller-number {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}